<div>
    <app-header class="header"></app-header>
    
    <section id="banner">
        <owl-carousel-o  class="carousel" [options]="customOptions">
            <ng-template carouselSlide><img src="../../../assets/OMNIA-SLIDER2-1.png"></ng-template>  
            <ng-template carouselSlide ><img src="../../../assets/OMNIA-SLIDER3-1.png"></ng-template>   
            <ng-template carouselSlide><img src="../../../assets/OMNIA-SLIDER1-1.png"></ng-template>  
        </owl-carousel-o>
        
    </section>
    <section id="servicios">
        <table>
            <thead>
                <tr>
                    <th>Hora</th>
                    <th>Lunes</th>
                    <th>Martes</th>
                    <th>Miércoles</th>
                    <th>Jueves</th>
                    <th>Viernes</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>08:00</td>
                    <td class="cross-training">Cross Training</td>
                    <td></td>
                    <td class="cross-training">Cross Training</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>09:00</td>
                    <td class="functional">Functional</td>
                    <td></td>
                    <td class="functional">Functional</td>
                    <td></td>
                    <td class="functional">Functional</td>
                </tr>
                <tr>
                    <td>13:00</td>
                    <td class="indoor-cycle">Indoor Cycle</td>
                    <td></td>
                    <td class="indoor-cycle">Indoor Cycle</td>
                    <td></td>
                    <td class="indoor-cycle">Indoor Cycle</td>
                </tr>
                <tr>
                    <td>18:00</td>
                    <td class="gap">Gap</td>
                    <td class="zumba">Zumba</td>
                    <td class="gap">Gap</td>
                    <td class="zumba">Zumba</td>
                    <td class="gap">Gap</td>
                </tr>
                <tr>
                    <td>19:00</td>
                    <td class="functional">Functional</td>
                    <td></td>
                    <td class="functional">Functional</td>
                    <td></td>
                    <td class="functional">Functional</td>
                </tr>
                <tr>
                    <td>20:00</td>
                    <td class="boxeo">Boxeo</td>
                    <td></td>
                    <td class="boxeo">Boxeo</td>
                    <td></td>
                    <td class="boxeo">Boxeo</td>
                </tr>
            </tbody>
        </table>
    </section>

    <section id="nosotros">
        <h2>Nosotros</h2>
        <p>Somos un gimnasio comprometido con tu bienestar. Ofrecemos una amplia variedad de clases, equipos de última generación y entrenadores profesionales para ayudarte a alcanzar tus metas.</p>
        <video class="elementor-video" src="../../../assets/cortoOmnia.mp4" controls=""></video>
    </section>

    

    <section id="contacto">
        <h2>Contacto</h2>
        <p>Ponte en contacto con nosotros para más información:</p>
        <p>Teléfono: 123-456-789</p>
    </section>

    <footer>
        <p>&copy; 2024 Gimnasio Omnia. Todos los derechos reservados.</p>
    </footer>
</div>

