<div>
    <app-header class="header"></app-header>
    
    <section id="banner">
        <owl-carousel-o  class="carousel" [options]="customOptions">
            <ng-template carouselSlide><img src="../../../assets/OMNIA-SLIDER2-1.png"></ng-template>  
            <ng-template carouselSlide ><img src="../../../assets/OMNIA-SLIDER3-1.png"></ng-template>   
            <ng-template carouselSlide><img src="../../../assets/OMNIA-SLIDER1-1.png"></ng-template>  
        </owl-carousel-o>
        
    </section>
    <section id="servicios">
        <table >
            <thead>
                <tr>
                    <th>Hora</th>
                    <th *ngFor="let day of programa">{{day}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let hora of toObjectKeys(horas)">
                    <td>{{ hora }}</td>
                    <!--<td *ngFor="let clase of horas[hora]" ><a [class]="clase.name" routerLink="/class/:{{clase.name}}">{{ clase.name }}</a></td> -->
                    <td *ngFor="let clase of horas[hora]"[class]="clase.name" owlRouterLink="/class/{{clase.name}}">{{ clase.name }}</td> 
                </tr>
            </tbody>
        </table>
    </section>

    <section id="nosotros">
        <h1>Un lugar hecho a tu medida,</h1>
        <h3>un Gimnasio para vos.</h3>
        <p>Somos un gimnasio comprometido con tu bienestar. Ofrecemos una amplia variedad de clases, equipos de última generación y entrenadores para ayudarte a alcanzar tus metas.</p>
        <video class="elementor-video" src="../../../assets/cortoOmnia.mp4" controls=""></video>
    </section>

    <div><app-footer></app-footer></div>
</div>

