

.header {
    position: fixed;
    z-index: 1000;
    width:100%;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 50px 20px;
    
}

section h3 {
    text-align: center;
}
section h1 {
    text-align: center;
    color:orange;
}
section p {
    text-align: center;
    color:orange;
}

.elementor-video{
    margin-left:19%;
    max-width: 100%;
    width: 65%;
}

#banner {
    background-size: cover;
    text-align: center;
    padding: 100px 0;
}

#banner h2 {
    margin: 0;
}

#banner p {
    font-size: 20px;
}

.carousel{
    width:10000px;
}
#nosotros{
    color:white;
}
/* Tabla */
table {
    width: 100%;
    border-collapse: collapse;
    background-color: black;
}

th, td {
    border: 2px solid orange;
    padding: 10px;
    color: white;
    text-align: center;
}



.Gap {
    background-color: #ff961e; /* Azul */
    cursor: pointer;
}

.Gap:hover {
    background-color: #ec8714; /* Darker shade of blue */
    cursor: pointer;
}

.Indoor {
    background-color: #808080 ; /* Rojo */
    cursor: pointer;
}

.Indoor:hover {
    background-color: #646464; /* Darker shade of red */
}

.Boxeo {
    background-color: #ff961e; /* Verde */
    cursor: pointer;
}

.Boxeo:hover {
    background-color: #ec8714; /* Darker shade of green */
}

.Zumba {
    background-color: #808080; /* Rosado */
    cursor: pointer;
}

.Zumba:hover {
    background-color: #646464; /* Darker shade of pink */
}

.CrossTraining {
    background-color: #ff961e; /* Amarillo */
    cursor: pointer;
}

.CrossTraining:hover {
    background-color: #ec8714; /* Darker shade of yellow */
}

.Functional {
    background-color: #ff961e; /* Naranja */
    cursor: pointer;
}

.Functional:hover {
    background-color: #ec8714; /* Darker shade of orange */
}

.Yoga {
    background-color: #808080; /* Verde clarito */
    cursor: pointer;
}

.Yoga:hover {
    background-color: #666666; /* Darker shade of light green */
}

.Stretching {
    background-color: #ff961e; /* celeste */
    cursor: pointer;
}

.Stretching:hover {
    background-color: #ec8714; /* Darker shade of cyan */
}

a{
    padding:10px 25%;
    color:white;
    text-decoration: none;
}
