<hr>
<div id="footer">
    <div class="redSocial">
        <img src="../../../assets/images/icons/whatsapp.png" class="footrPhoto">
        <a id="tel">+54 9 11 22539291</a>
    </div>
    <a href="https://www.instagram.com/bblessedd/">
        <div class="redSocial">
            <img src="../../../assets/images/icons/instragram.png" class="footrPhoto">
            <a id="ig">&#64;bblessedd</a>
        </div>
    </a>
    
    <a routerLink="/reclamos"> Para reclamos ingresá acá. </a>
</div>
