<app-header></app-header>
<div class="reseñas">
    <figure class="snip1533">
        <figcaption>
          <blockquote>
            <h3 class="name">Vero</h3>
            <p>El mejor gimnasio de palermo.</p>
            <p>Excelente atencion, excelentes clases y excelente grupo humano </p>
            <p>Recomendable 100%💪</p>
          </blockquote>
        </figcaption>
      </figure>
      <figure class="snip1533">
        <figcaption>
          <blockquote>
            <h3 class="name">Yong Ren</h3>
            <p>Definitely one of the best gyms</p>
            <p>The entrance as well as personal trainers are available at fair price,
                the quality of the equipment is super nice and clean</p>
            <p> People are super friendly in the gym </p>
          </blockquote>
          
        </figcaption>
      </figure>
      <figure class="snip1533">
        <figcaption>  
          <blockquote>
            <h3 class="name">Maria Veronica</h3>
            <p>El mejor gimnasio de palermo y sus alrededores!! </p>
            <p>Un nivel de profesores de excelencia </p>
            <p>Estructura impecable y siempre limpia </p>
          </blockquote>
        </figcaption>
      </figure>
</div>
<app-footer></app-footer>