<header>
    
    <div class="middle-header">
        <div class="logo">
            <a routerLink="/home"><img class="logo" src="../../../../assets/Omnia1.png" class="img-responsive" alt="logo"></a>
        </div>
        
 
     
        <div class="container">
            <div class="fila2">
                <div>
                    <a class="nav-items" routerLink="/como-comenzar"> Como comenzar</a>
                    <a class="nav-items" routerLink="/clases-horarios">Clases y horarios </a>
                    <a class="nav-items" routerLink="/planes">Planes corporativos</a>
                    <a class="nav-items" routerLink="/contacto">Contacto</a>

                    <mat-menu #menu="matMenu" >
                        <div class="menuAnswer" > 
                            <h2>Iniciar sesión</h2> 
                            <form>
                                <div class="form-group">
                                    <label for="username">Nombre de usuario:</label>
                                    <input type="text" id="username" name="username" required>
                                </div>
                                <div class="form-group">
                                    <label for="password">Contraseña:</label>
                                    <input type="password" id="password" name="password" required>
                                </div>
                                <button type="submit">Iniciar sesión</button>
                            </form>
                            <button > Iniciar sesion</button>
                            <a >No tienes cuenta?</a>
                            <a >Create una ahora</a>
                        </div>
                        
                        
                    </mat-menu>  
                </div>
            </div>
        </div>

    </div>

</header>
